
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/Deps/include/Engine
/Android/lib/libEngine.lib
/Android/build/android/.gradle/4.1
/Android/build/android/build
/Android/build/android/app/build

/Android/include/Engine
/Android/source/Engine
/SoI.VC.db
